<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plant thingy</title>
    <link rel="stylesheet" href="C:\Users\kriti\OneDrive\Desktop\Randomness\hackhub.css">
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>



<nav>
    <ul class="navlist">
        <li class="navlistel">
    <img id="logo" src="C:\Users\kriti\OneDrive\Desktop\Randomness\garden_gnome_logo.png">
            </li>

        <li class="navlistel">
        <a href="MyPage.html">Home</a>

        </li>
        <li class="navlistel">
        <a href="MyPage.html">About</a>
        </li>



    <li class="navlistel"><img id="hhlogo" src="C:\Users\kriti\Downloads\image 61.png"> </li>

         </ul>
</nav>

    <div class="madeby">
    <p> Made By: </p>
    <p> Shlok Aditya Tripathy </p>
    <p>Kriti Agarwal </p>

</div>

<div class="left">
    <img class="plantimg" src="C:\Users\kriti\Downloads\plant.png">


</div>


<div class="form" method="post" >
    <h4> City: </h4>
    <input class="text_input" id="cityinput" type="text" name="cityinput">
    <h4> Plant: </h4>
    <input class="text_input" id="cropinput" type="text" name="cropinput">

    <div>

        <button id="submit">Submit</button>

    </div>

</div>



<div class="factor_container">

    <ul class="factors" id="drop">

        <li class="factor_le">
            <img class="factorimg" src="C:\Users\kriti\Downloads\drop.png">
        </li>

        <li class="factor_text factor_le">
            <p id="humIdeal"> Ideal: </p>
            <p id="humCurrent"> Current: </p>
            <p id="humText">  </p>
        </li>

    </ul>

    <ul class="factors" id="sun">
        <li class="factor_le">
            <img class="factorimg" src="C:\Users\kriti\Downloads\sun.png">
        </li>

            <li class="factor_text factor_le">
                <p id="sunIdeal"> Ideal: </p>
                <p id="sunCurrent"> Current: </p>
                <p id="sunText"> </p>
            </li>
    </ul>

    <ul class="factors" id="thermometer">
        <li class="factor_le">
            <img class="factorimg" src="C:\Users\kriti\Downloads\thermometer.png">
        </li>
        <li class="factor_text factor_le">
            <p id="tempIdeal"> Ideal: </p>
            <p id="tempCurrent"> Current: </p>
            <p id="tempText">  </p>
        </li>

    </ul>

</div>




<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>




</body>
</html>